@model IEnumerable<Vendas.Models.Produto>

@{
    ViewBag.Title = "Listar Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar Produto</h2>
<button type="button" class="btn btn-add pull-right" onclick="adicionar('Produto')">
    <span class="glyphicon glyphicon-plus"></span>Adicionar
</button>
<table class="table">
    <tr>
        <th class="col-md-7">
            @Html.DisplayNameFor(model => model.xNomeProduto)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.vValorVenda)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.xNomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vValorVenda)
            </td>
            <td>
                <button class="btn btn-warning btn-sm" onclick="alterar('@item.idProduto','Produto');">
                    <span class="glyphicon glyphicon-pencil"></span>Alterar
                </button>
            <td>
                <button class="btn btn-danger btn-sm" onclick="remover('@item.idProduto','Produto');">
                    <span class="glyphicon glyphicon-trash"></span>Remover
                </button>
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/scripts/Util.js")
}
<script>
    function posLoad() {
    }
</script>